<?xml version="1.0"?>
<model>
  <name>go2_sim</name>
  <version>0.2.0</version>
  <sdf version="1.6">urdf/go2_sim.urdf.xacro</sdf>
  <author>
    <name>Maintainer</name>
    <email>todo@example.com</email>
  </author>
  <description>
    Unitree Go2 simulation model for Gazebo Fortress.
  </description>
</model>
