# latex .gitignore
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.glo
*.idx
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.loa
*.nlo
*.nls
*.blg
*.bbl
*.brf
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.aux


